:root {
  --primary: #ffffff; /*main bg*/
  --secondary: #CF5C36; /*header bg*/
  --tertiary: #546A76; /*search bg*/
  --quarternary: black; /*text*/
}

body {
  background-color: var(--primary);
  color: var(--quarternary);
  font-family: 'Roboto', serif;

}

header {
  display: flex;
  background-color: var(--secondary);
  color: white;
  padding: 20px;
  justify-content: center;
  font-size: xx-large;
  border-radius: 25px;
}

#search-container {
  background: var(--tertiary);
  padding: 10px;
  margin: 5px;
  border-radius: 25px;
  width: 250px;
}

#weather-container {
width: 100vw;
padding: 10px;
}

#content-container {
  display: flex;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
  padding: 10px;
}

button {
  border: none;
  text-decoration: none;
  width: 150px;
  margin: 5px;
  font-size: 16px;
  padding: 5px;
  text-align: center;
  color: black;
  background-color: var(--primary);
}

input {
  border: none;
  margin: 5px;
  height: 30px;
}

.low {
  background-color: green;
  color: lightgreen;
  width: fit-content;
}

.moderate {
  background-color: yellow;
  color: orange;
  width: fit-content;
}

.severe {
  background-color: darkred;
  color:red;
  width: fit-content;
}

#forecast {
  display: inline-flex;
  padding-top: 30px;
}

.forecast {
  padding: 10px;
}